body {
    background-color: #273238;
}

p {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

h1 {
    background-color: white;
    text-align: center;
    font-size: 50px;
    color: #698593;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: normal;
}

h2 {
    font-family: Arial, Charcoal, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: italic;
    color: #e6cbbf;
}

#titulo_celulares {
    color: #a1c1cb;
}

#titulo_consolas {
    color: #bcbdbf;
}

#titulo_home_theaters {
    color: #8d94a1;
}

#titulo_televisores {
    color: #b2b2aa;
}

img {
    width: 380px;
    margin-left: 35px;
    border: 4px ridge #e6cbbf;
}

#imagen_celulares {
    color: #a1c1cb;
    border-color: #a1c1cb;
}

#imagen_consolas {
    color: #bcbdbf;
    border-color: #bcbdbf;
}

#imagen_home_theaters {
    color: #8d94a1;
    border-color: #8d94a1;
}

#imagen_televisores {
    color: #b2b2aa;
    border-color: #b2b2aa;
}
