<nav class="navbar navbar-expand-lg bg-black border-0 border-bottom border-white">
    <div class="container-fluid">
        <a class="navbar-brand text-light fs-5" href="#">Alma de Mate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-center w-100">
                <li class="nav-item">
                    <a class="nav-link active fs-2 mx-5 text-light" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-2 mx-5 text-light" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-2 mx-5 text-light" href="/contact">Contact</a>
                </li>
            </ul>
            
            <a class="nav-link d-flex align-items-center ms-auto" aria-current="page" href="/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </a>
        </div>
    </div>
</nav>
