body {
  background-color: #293136;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
}

header {
  background-color: #fff;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-size: 4em;
}

p {
  line-height: 1.3em;
}

.color_1 {
  color: #698593;
}

.color_2 {
  color: #e3c0a7;
}

.color_3 {
  color: #a2c2cb;
}

.color_4 {
  color: #afbac0;
}

.color_5 {
  color: #87898c;
}

.color_6 {
  color: #b2b2aa;
}

h2 {
  font-family: Arial, gadget, sans-serif;
  color: #e3c0a7;
  text-transform: uppercase;
}

.image-border {
  border: 5px solid;
  border-color: #b2b2aa;
  box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
  margin: 10px 30px;
}

.border_color_2 {
  border-color: #e3c0a7;
}

.border_color_3 {
  border-color: #a2c2cb;
}

.border_color_4 {
  border-color: #afbac0;
}

.border_color_5 {
  border-color: #87898c;
}

.border_color_6 {
  border-color: #b2b2aa;
}