body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    color: rgba(233, 230, 36, 0.966);
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 50px;
    font-variant: small-caps;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.producto {
    max-width: 1200px;
    width: 100%;
    background-color: rgb(233, 228, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}

.juego {
    background-color: rgb(153, 153, 153);
    padding: 20px;
    border-radius: 10px;
}

.juego h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 20px;
}

.juego img {
    border-style: solid;
    border-color: rgb(233, 228, 228);
    border-width: 4px;
    width: 450px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.juego p {
    text-align: justify;
    margin: 15px;
    font-size: 20px;
    line-height: 1.5;
    color: #444;
}

.juego ul {
    list-style-type: none;
    font-size: 20px;
    color: #444;
    line-height: 1.5;
    margin: 20px 0 10px 15px;
}

.precio {
    font-size: 30px !important;
    margin: 20px 0;
    font-weight: bold;
}

.stock {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.stock p {
    font-size: 1.5em;
    color: red;
    margin-bottom: 10px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-width: 2px;
    background-color: rgba(233, 230, 36, 0.966);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #d4c900;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
