* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #000;
}

body {
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    background: #0a0a0a;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 100%);
    height: 100%;
}

h1 {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 7px hsla(0, 50%, 50%, 1);
    margin-bottom: 20px;
}

h1 > strong {
    font-style: italic;
}

#cajas {
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#cajas > div {
    width: 200px;
    height: 200px;
    border: 10px solid #000;
    transition: background-position .9s linear 2s, border-bottom-color 1.2s, background-color .5s;
    transition-delay: .4s;
    background-color: #000;
    background-position: -180px -40px;
    background-repeat: no-repeat;
}

#cajas > div[title="Presentado"] {
    background-position: 20px 20px;
    background-color: #fff;
    border-bottom-color: #fff;
}

#cajas > div:after {
    transition: background-position .8s cubic-bezier(0.18, 0.89, 0.32, 1.28) .7s, box-shadow .2s linear .7s;
    content: "";
    width: 200px;
    height: 200px;
    background: url('../img/cortina.png') -100px -2px no-repeat;
    position: absolute;
}

#cajas > div[title="Presentado"]:after {
    background-position: 100px -2px;
    box-shadow: -19px 20px 36px 5px hsla(0, 100%, 100%, .5);
}

#cajas > div:not([title="Presentado"]):hover:after {
    transition: background-position 1s;
    transition-delay: 0s;
    background-position: -80px -2px;
}

#mario {
    background: url('../img/mario.png');
}

#luigi {
    background: url('../img/luigi.png');
}

#bowser {
    background: url('../img/bowser.png');
}

#peach {
    background: url('../img/peach.png');
}

#yoshi {
    background: url('../img/yoshi.png');
}

#toad {
    background: url('../img/toad.png');
}

#toadette {
    background: url('../img/toadette.jpg');
}

#daisy {
    background: url('..img/daisy.png');
}



/* Botón "Presentar" */
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    padding: 10px 20px;
    background-color: #000; /* Color negro */
    color: #fff; /* Texto blanco */
    border: 2px solid #FF0000; /* Borde rojo */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 18px;
    text-align: center;
    text-transform:uppercase;
    text-shadow: 0 0 7px hsla(0, 50%, 50%, 1);
    cursor: pointer; /* Cursor de mano cuando se pasa el ratón */
    transition: all 0.3s ease; /* Transiciones suaves para hover y active */
    box-shadow: 0 0 7px hsla(0, 50%, 50%, 1); 
}

/* Efecto al pasar el cursor por encima */
.boton:hover {
    background-color: #FF4500; 
    border-color: #FF4500;
}

/* Efecto al presionar (simula hundirse) */
.boton:active {
    background-color: #420505; /* Color más claro al presionar */
    transform: translateY(3px); /* Desplaza ligeramente hacia abajo */
}

