* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.titulo {
    font-size: 32px;
    font-weight: 200;
    margin-left: 100px;
}
header {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.233);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
header h1 {
    font-size: 24px;
    font-weight: 100;
    color: #392418;
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 20px;
}
.botonNav {
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #392418;
    color: #392418;
    text-decoration: none;
}
.botonNav:hover {
    background-color: #392418;
    cursor: pointer;
    color: white;
}
.titulo-seccion {
    font-size: 24px;
    font-weight: 200;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid #392418;
    border-radius: 5px;
    width: 100%;
    max-width: 955px;
}
.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
    max-width: 1200px;
}

.tarjeta {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 10px;
    width: 300px;
}
.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.tarjeta h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    color: #392418;
}
.tarjeta .detalle .descripcion {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
.tarjeta .detalle .precio {
    font-size: 18px;
    font-weight: 300;
    color: #392418;
}
.tarjeta .detalle .boton-compra {
    background-color: #392418;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
}
.tarjeta .detalle .boton-compra:hover {
    background-color: #6e4732;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #392418;
    color: white;
    padding: 20px;
    text-align: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}
.formulario h3 {
    font-size: 24px;
    font-weight: 200;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.formulario label {
    font-size: 18px;
    font-weight: 300;
}

.formulario input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #392418;
}
.formulario .enviar {
    background-color: #1b120d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    margin-top: 15px;
}
.formulario .enviar:hover {
    background-color: #241409;
    cursor: pointer;
}
