body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E11364;
}
article{
    text-align: center;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #E11364;
}

.titulo {
    background-color: #BC105C;
    padding: 20px 0;
    text-align: center;
    color: white;
    border-right: solid white 4px;
    border-left: solid white 4px;;
}

.titulo h1 {
    margin: 0;
    font-size: 2.5em;
}

.mas-vendidos {
    margin-top: 20px;
    background-color: #BC105C;
    color: white;
    padding: 20px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 35px;
}

.mas-vendidos h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}

.juego {
    background-color: white;
    color: #333;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;

}

.juego-header {
    display: flex;
    justify-content: flex-end;
}

.juego-header h3 {
    margin: 0;
    color: #e4007c;
    text-align: right;
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    width: 100%;
}

.juego figure {
    margin: 0;
    text-align: center;
    margin-top: 8px;
    display: flex;
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.juego p {
    margin: 10px 0;
    text-align: left;
    font-size: 12px;
}

.mas-vendidos h3 {
    color: #BC105C ;
    border-bottom: dashed 2px;
    }

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font: bold 15px arial;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E11364;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #E96093;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

footer p {
    margin: 5px 0;
    font-size: 8px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
