body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E11364;
    color: white;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #E11364;
}
.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #BC105C;
    padding: 5px;
    text-align: center;
    color: #BC105C;
    border-right: solid white 4px;
    border-left: solid white 4px;
    background-image: url(../assets/img/mariokart.jfif);
}

header p {
    font-weight: bold;
    }




.texto{
    text-align: center;
    margin-bottom: 20px;
    background-color: #BC105C;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.caracteristicas {
    text-align: center;
}


.caracteristicas ul {
    padding-left: 1px;
    margin-top: 1px;
    text-align: left;
}


.boton {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.boton a{
    text-decoration: none;
    color: white;
}

.boton:hover {
    background-color: #E11364;
    }

    button{
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    }

    button:hover{
        background-color: #E11364;
    }


    footer {
        text-align: center;
        padding: 10px 0;
        background-color: #E96093;
        color: white;
        border-radius: 10px;
        margin-top: 10px;
    }
    
    footer p {
        margin: 5px 0;
        font-size: 8px;
    }
    
    footer a {
        color: white;
        text-decoration: none;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
    