*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #362cca;
    display: block;
    justify-content: center;
}

@font-face {
    font-family: "Sakana";
    src: url(./fonts/Sakana.ttf);
}


h1{
    color: #05031f;
    text-align: center;
    margin: 40px 50px; 
    border: solid ;
    font-family: Sakana;
    box-shadow: 3px 3px black, 5px 5px rgb(218, 120, 120);
    display: block;
} 

form{
    width: 100%;
    text-align: center; 
    margin: 0px  auto; 
    color: white;
}

legend{
    background-color: #000407;
    color: white;
    border-radius: 5px; 
    padding: 10px;
}

fieldset{  
    background-image: linear-gradient(45deg,#002E35 ,#000407)  
}

[type="text"],[type="number"],[type="email"],textarea,select

display:block;{
    margin: 12px auto;
    width: 700px;
    height: 20px;
}

input{
    border-style: dashed;
}

.datospersonales, .contacto, .actividades, .checkbox{
    display:inline-block;
    padding: 20px 20px;
    border: 6px solid #E56000;
    font-size: 20px;
    font-family:Sakana;
    box-shadow: px px #E56000, 10px 10px rgb(144, 19, 19);
    padding-right: 5%;
    user-select: none;
    cursor: pointer;
}

.datospersonales, .contacto, .actividades, .checkbox :active{
    box-shadow: 5px 5px 10px rgb(128, 16, 16);
    transform: translateX(5px) 
    translateY(2px);
    color: ;
}

.actividades p{margin-top:20px ; margin-bottom: 20px;}
legend{text-align: left;
}

.actividades [type="checkbox"]{
    text-align: left;
}

.terminos{
    text-align: left;
}

.contacto{
    border: solid; 
    color: rgb(243, 240, 240);
    font-style:  white;
    width: 1251px;
    height: 360px;
}

.terminos div{  
    margin-bottom: 20px;
    font-size: 20px ;font-family:Sakana;
}

button{
    display:inline-block;font-size: 20px;
    font-family:Sakana; 
    border-bottom: 10px;  
}

.datos2{
    margin-bottom: 100% auto;font-family:Sakana;
}


