
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

main {
    margin: 8%;
}

header {
    display: flex;
    flex-direction: column-reverse;
    height: 70px;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
}

.titulo {
    display: flex;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
    margin: 6px;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h2 {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: solid;
}

h3 {
    margin-left: 23px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    display: inline;
}

div {
    display:inline-block;
    margin: 10px;
}

input {
    flex-direction: column;
}

img {
    box-shadow: 0 0 30px black;
    border-radius: 25px;
}

.formulario {
    width: 20%; max-width: 400px; margin-top: 3%;
    padding: auto;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 15px;
    padding: 1%;
    width: 30%; 
    margin-left: 8%;
}

.compra {
margin-left: 75px;
background-color: transparent;
border-radius: 4px;
border-color: azure;
font-family:Arial, Helvetica, sans-serif;
}


#form {
    margin: 6px;
}

form {
margin: 3px;
display: grid;
width: 100px;
}

label {
    margin-left: 23px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 4px;
}