    <nav>
        <a href="/">Inicio</a>
        <a href="/contac">Contacto</a>
        <a href="/index">Pagina</a>
        <a href="/about">Nosotros</a>
    </nav>


    <footer>
        <p>
            &copy; 2020 - Todos los derechos reservados
        </p>
    </footer>