<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Error 500</title>
</head>
<body>
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <a href="/index">Volver a la página principal</a>
</body>
</html>
