<nav class="navbar navbar-expand-lg  " >
{{!-- <nav class="d-flex justify-content-around" > --}}

    <div class="container-fluid d-flex justify-content-around">
    <div id="navbBar_logo">
        EL CERVATILLO
    </div>
        <div id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/formulario">Form Productos</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>