
body{
    background-color: rgb(20, 19, 19);
}



header{
    color: white;
    background: black;
    text-align: center;
    border-right: 10px rgb(247, 247, 250) solid;
    border-left: 10px rgba(247, 247, 250) solid;
    margin: 5px;
    margin-left:50px; 
    margin-right: 50px; 
    height: 75px;
}

.titulo{
  font-size: 65px;
 
}

.f1{
    height: 350px;
    width: 400px;
    display: flex;
    text-align: center;
    margin-left:35%;
    margin-top: 20px;
}
main{
text-align: center;
color: white;
}

.texto{
    margin-left: 200px;
margin-right: 200px;
background-color: rgb(34, 33, 33);
}

.tex{
    background-color: rgb(20, 19, 19);
}

.fotox5{
    height:150px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 35%;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.fotoh5{
    height:150px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 35%;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    
}
.cx5{
    text-align: center;
    margin-top: 10px;    
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.atajos{ 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 45px;
    color: white;
    background: black;
    text-align: center;
    border-right: 10px rgb(247, 247, 250) solid;
    border-left: 10px rgb(247, 247, 250) solid;
    margin-left: 62px; 
    margin-right: 62px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}

a img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

nav{
    margin-top: 10px;
}
