body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #531478;
}


main {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-color:#531478;
}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#EDD00C;
    padding: 20px 10px;
    text-align: center;
    color:black;
    border: solid black 5px;
    margin-bottom: 15px;
}
.titulo h1 {
    font-size: 30px;
    padding: 5px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.mas-vendidos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#EDD00C;
    color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 5px;

}

.mas-vendidos h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}



.juego {
    background-color:#333399 ;
    color: #EDD00C;
    padding: 30px;
    margin: 29px 45;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    border: double 10px;
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.juego-header {
display: flex;
justify-content: center;
}

.juego-header h3 {
    text-align: center;
    margin-top: 1px;
}

.juego figure {
    margin: 5%;
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 3px;
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.juego p {
    margin: 12px 0;
    text-align: center;
    font-size: 15px;
    color: #EDD00C;
}

.mas-vendidos h3 {
    color: #EDD00C ;
    border-bottom: dashed 2px;
    }

button {
    background-color: #edcf0cb5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font: bold 15px arial;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #ffcc00;
    color: white;
    box-shadow: 0 0 10px #28a745;
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #EDD00C;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

footer p {
    margin: 5px 0;
    font-size: 8px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
