
<h1 class="fs-2 mb-4 text-center" >Electro Mundo: Tecnología al alcance de todos</h1>
<section class="px-4 py-5">

  <p class="fs-5 mb-3">
    En ElectroMundo, somos líderes en el mundo de la tecnología y la electrónica, ofreciendo productos de última generación para satisfacer las necesidades de nuestros clientes.
  </p>
  <p class="fs-5 mb-3">
    Contamos con una amplia variedad de artículos, desde electrodomésticos hasta dispositivos móviles, siempre con las mejores marcas y garantías.
  </p>
  <p class="fs-5 mb-3">
    Con sucursales estratégicamente ubicadas, nos aseguramos de estar cerca de ti para brindarte atención personalizada y un servicio de calidad.
  </p>
  <p class="fs-5 mb-3">
    ¡Visítanos y descubre lo mejor en tecnología en cualquiera de nuestras sucursales o a través de nuestra tienda online!
  </p>
</section>