<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">Error {{codigo}}</h1>
    <p>Detalles: {{mensaje}}</p>
    <img src="/imagenes/error.jpg" alt="error" class="img-fluid mb-3">
</div>