<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Producto destacado del mes</h5>
        <img src="/imagenes/aspiradoras.PNG.png" alt="aspiradora" class="img-fluid mb-3">
        <p class="card-text">Este hermoso producto puede ser suyo, solo debes ser parte de la comunidad.</p>
        <a href="#" class="btn btn-primary">Hacete socio</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Producto destacado del mes</h5>
        <img src="/imagenes/consolas.JPG.jpg" alt="Consola" class="img-fluid mb-3">
        <p class="card-text">Este hermoso producto puede ser suyo, solo debes ser parte de la comunidad.</p>
        <a href="#" class="btn btn-primary">Hacete socio</a>
      </div>
    </div>
  </div>
</div>