<nav>
  <a href="/index"><i class="fas fa-home"></i> Inicio</a> |
  <a href="/about"><i class="fas fa-info-circle"></i> Sobre Nosotros</a> |
  <a href="/contact"><i class="fas fa-envelope"></i> Contáctanos</a>
</nav>
