body{
    background-color: #1F2023;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/imagenes/izquierdo.jpeg), url(../assets/imagenes/derecho.jpeg);
    background-size: 50%, 50%;
    background-attachment: fixed;
}

legend{
    display: inline-block;
    box-shadow: 0 0 15px red;
    background-color: black;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
    text-align: left;
    border-radius: 10px;
    top: -20px;
    margin-left: 10px;
    margin-bottom: -100px;
    padding: 7px;
}

h1{
    color: white; 
    width: 70%;
    text-align: center;
}

.box1{
    width: 70vw;
    height: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(248, 1, 22, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 40px rgba(246, 6, 182, 0.7);
    backdrop-filter: blur(5px);
}

.box2{
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70vw;
    height: 15%;
    text-align: center;
    border: 2px solid rgba(248, 1, 22, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 40px rgba(246, 6, 182, 0.7);
    backdrop-filter: blur(5px);
}

.box3{
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70vw;
    height: 20%;
    text-align: left;
    margin-bottom: 15px;
    border: 2px solid rgba(248, 1, 22, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 40px rgba(246, 6, 182, 0.7);
    backdrop-filter: blur(5px);
}
.box1:hover{
    background-color: transparent;
    border: 2px solid #0160A2;
    box-shadow: 0 0 50px rgba(12, 223, 255, 0.5);
    background-image: url(../assets/imagenes/fondos.jpeg);
    background-size: contain;
    backdrop-filter: blur(0px);
}

.box2:hover{
    background-color: transparent;
    border: 2px solid #0160A2;
    box-shadow: 0 0 80px rgba(12, 223, 255, 0,8);
    background-image: url(../assets/imagenes/fondos.jpeg);
    background-size: contain;
    backdrop-filter: blur(0px);
}

.box3:hover{
    background-color: transparent;
    border: 2px solid #0160A2;
    box-shadow: 0 0 50px rgba(12, 223, 255, 0.5);
    background-image: url(../assets/imagenes/fondos.jpeg);
    background-size: contain;
    backdrop-filter: blur(0px);
}

.box1:hover legend{
    border: 2px solid #0160A2;
    box-shadow: 0 0 50px rgba(12, 223, 255, 0.5);
}
.box2:hover legend{
    border: 2px solid #0160A2;
    box-shadow: 0 0 50px rgba(12, 223, 255, 0.5);
}
.box3:hover legend{
    border: 2px solid #0160A2;
    box-shadow: 0 0 50px rgba(12, 223, 255, 0.5);
}


input{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    text-align: left;
    display: flex;
    border: solid 1px;
    border-radius: 3px;
}

input:hover{
    background-color: #0160A2;;
}

.inputs{
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 15px;

}

select{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 69%;
    display: block;
    text-align: center;
}

textarea{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 69%;
    height: 100px;
    display: block;
    text-align: center;
}

.radios{
    display: flex;
    justify-content: center;
}

.inputytext{
    display: inline-flex;
    align-items: center;
}

.inputytext input{
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 25px;
}


hr{
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 15px dotted rgb(171, 164, 164);
    width: 44%;
    margin-top: 20px;
    margin-bottom: 30px;
} 

label{
    text-align: center;
}

.textoafuera {
    color: white;
}

.novedades,.acepto {
    color: white; 
    text-align: left;
    margin-left: -34%;
}

.depytext{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.depytext label{
    margin-top: 6px;
    margin-left: 10px;
}

.actividades{
    margin-top: 30px;
    margin-left: 10px;
}

.inend{
    text-align: left;
    display: inline;
    align-items: flex-start;
    margin-left: -34%;
}

.poppins {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 45px;
        margin-bottom: 50px;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-variant: small-caps;
}

.roboto2{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

.poppins2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.botones{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button{
    margin-right: 30px;
    cursor: pointer;
    height: 60px;
    width: 20%;
    text-align: inline;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(248, 1, 22, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 20px rgba(230, 52, 141, 0.5);
    backdrop-filter: blur(5px);
}

.botones :hover{
    background-color: transparent;
    border: 2px solid #0160A2;
    box-shadow: 0 0 50px rgba(12, 223, 255, 0.5);
    background-image: url(../assets/imagenes/fondos.jpeg);
    background-size: 50%;
    backdrop-filter: blur(0px);
    box-shadow: 0 0 40px rgba(246, 6, 182, 0.7);
    background-color: #4D6D63;
}

