<h1 class="mt-3 text-center fw-bold">Acerca de Nosotros</h1>
<hr class="mt-0">

<p class="mt-2 mx-3 fs-4">En Alma de Mate, somos una empresa familiar con una pasión por la yerba mate de calidad. Desde nuestros comienzos, hace 45 años, nos hemos dedicado a ofrecer el sabor auténtico de la yerba mate argentina al mundo. Nuestra misión es exportar lo mejor de la tradición yerbatera, garantizando un producto fresco, natural y sustentable que refleja el esfuerzo y el amor que ponemos en cada etapa del proceso.</p> 

<h2 class="ms-4 fw-bold">Nuestra Historia</h2>

<p class="mt-1 mx-5 fs-4">Nuestra historia comienza en Rio Grande Do Sul en Brasil, una tierra rica en historia y tradición yerbatera, donde la yerba mate se cultiva con el mayor cuidado y respeto por el medio ambiente. Desde nuestras plantaciones hasta las modernas instalaciones de producción, cada hoja de yerba que exportamos pasa por un riguroso proceso de selección y secado que asegura su frescura y sabor únicos.</p>

<h2 class="ms-4 fw-bold">Compromiso con la Calidad</h2>

<p class="mt-1 mx-5 fs-4">La calidad es nuestra prioridad. Trabajamos estrechamente con los mejores productores locales, quienes cultivan la yerba mate con métodos sostenibles y respetuosos con el medio ambiente. Esto no solo nos permite ofrecer un producto superior, sino que también promueve prácticas agrícolas responsables que benefician a las comunidades y al entorno.</p>

<h2 class="ms-4 fw-bold">Exportando Tradición</h2>

<p class="mt-1 mx-5 fs-4">Hoy en día, nuestro compromiso con la calidad nos ha llevado a exportar yerba mate a Argentina, Chile, Colombia, Perú, Uruguay y Paraguay.. Nos enorgullece llevar la cultura y la tradición argentina a todos los rincones del mundo, brindando una experiencia auténtica y natural en cada mate que preparamos.</p>

<h2 class="ms-4 fw-bold">Responsabilidad Social y Ambiental</h2>

<p class="mt-1 mx-5 fs-4">Entendemos que el futuro de la yerba mate está ligado al cuidado del medio ambiente y al bienestar de las comunidades. Por eso, apoyamos proyectos locales y fomentamos prácticas agrícolas que respeten la biodiversidad de nuestros campos. Trabajamos con un enfoque sostenible para garantizar que las futuras generaciones puedan seguir disfrutando de este tesoro natural.</p>

<h2 class="ms-4 fw-bold">Únete a la Experiencia Mate</h2>

<p class="mt-1 mx-5 fs-4">Ya sea que seas un amante de la yerba mate experimentado o estés descubriendo sus beneficios por primera vez, en Alma de Mate te invitamos a unirte a nuestra comunidad global de amantes del mate. Disfruta de la frescura, el sabor y la tradición de una yerba mate auténtica, con la confianza de que cada paquete refleja el esfuerzo y la dedicación que ponemos en nuestro trabajo.</p>

<br><br>