<h1 class="mt-3 text-center fw-bold">Página Principal</h1>
<h3 class="ms-4 mt-3">¡Compra 3 o más unidades del mismo producto y obtén el <b>Precio Combo!</b></h3>

<section class=" d-flex flex-row mt-5 mx-auto">
<div class=" mx-3 shadow p-3 mb-5 bg-dark rounded"><img src="https://ofishop.com/5106-large_default/yerba-mate-playadito-1kg-.jpg" alt="Yerba Mate Playadito" width="300" height="300" class="rounded">
<p class="fs-4 text-center text-light mb-0">Yerba Playadito 1kg</p>
<hr class="text-light mt-1">
<p class="ms-2 fs-5 text-light mb-1">Precio Unitario <b class="text-danger">$4.800.</b></p>
<p class="ms-2 fs-5 text-light">Precio Combo <b class="text-success">$4.300c/u.</b></p>
<button type="button" class="btn btn-success d-block mx-auto">Comprar</button>
</div>

<div class="mx-3 shadow p-3 mb-5 bg-dark rounded"><img src="https://acdn.mitiendanube.com/stores/313/507/products/canarias-48af651472263d23f117060379255540-640-0.jpg" alt="Yerba Mate la Merced" width="300" height="300" class="rounded">
<p class="fs-4 text-center text-light mb-0">Yerba Canarias 1kg</p>
<hr class="text-light mt-1">
<p class="ms-2 fs-5 text-light mb-1">Precio Unitario <b class="text-danger">$7.900.</b></p>
<p class="ms-2 fs-5 text-light">Precio Combo <b class="text-success">$7.050/u.</b></p>
<button type="button" class="btn btn-success d-block mx-auto">Comprar</button>
</div>

<div class="mx-3 shadow p-3 mb-5 bg-dark rounded"><img src="https://acdn.mitiendanube.com/stores/004/156/900/products/mate-cadcfbe81e3583727317146688851509-640-0.jpg" alt="Yerba Mate Cosmico" width="300" height="300" class="rounded">
<p class="fs-4 text-center text-light mb-0">Yerba Cosmico 1kg</p>
<hr class="text-light mt-1">
<p class="ms-2 fs-5 text-light mb-1">Precio Unitario <b class="text-danger">$11.000.</b></p>
<p class="ms-2 fs-5 text-light">Precio Combo <b class="text-success">$9.900/u.</b></p>
<button type="button" class="btn btn-success d-block mx-auto">Comprar</button>
</div>

<div class="mx-3 shadow p-3 mb-5 bg-dark rounded"><img src="https://distribuidorafragueiro.com.ar/wp-content/uploads/2021/07/la-merced-yerba-mate-campo-monte-500g-1_800x.jpg" alt="Yerba Mate la Merced" width="300" height="300" class="rounded">
<p class="fs-4 text-center text-light mb-0">Yerba La Merced 1kg</p>
<hr class="text-light mt-1">
<p class="ms-2 fs-5 text-light mb-1">Precio Unitario <b class="text-danger">$9.500.</b></p>
<p class="ms-2 fs-5 text-light">Precio Combo <b class="text-success">$8.700/u.</b></p>
<button type="button" class="btn btn-success d-block mx-auto">Comprar</button>
</div>

<div class="mx-3 shadow p-3 mb-5 bg-dark rounded"><img src="https://www.casa-segal.com/wp-content/uploads/2020/03/taragui-sin-palo-1-kilo-almacen-casa-segal-mendoza-600x600.jpg" alt="Yerba Taragui" width="300" height="300" class="rounded">
<p class="fs-4 text-center text-light mb-0" >Yerba Taragui 1kg</p>
<hr class="text-light mt-1">
<p class="ms-2 fs-5 text-light mb-1">Precio Unitario <b class="text-danger">$5.560.</b></p>
<p class="ms-2 fs-5 text-light">Precio Combo <b class="text-success">$4.873/u.</b></p>
<button type="button" class="btn btn-success d-block mx-auto">Comprar</button>
</div>

</section>