body {
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
}


h1,h2,h3 {
    color: #FF00FF;
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px 8px #00FFFF;  /* Sombra de texto */
    font-size: 3rem;
}

/* Botones */
button,input[type="submit"],input[type="reset"] {
    background-color: #FFD700;
    border: 2px solid #FF00FF;
    color: black;
    padding: 12px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #00FFFF;
    text-transform: uppercase;
    transition: 0.3s ease;

}

button:hover,input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: #FF00FF;
    color: #FFD700;
    box-shadow: 0px 0px 15px #FFD700;/* Sombra de caja """"más brillante """*/
}

/* ----------------------------------------------------------------- */
/* Formularios */
fieldset {
    border: 3px solid #00FFFF;
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 10px #FF00FF;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFD700;
    font-size: 1.2rem;
}

input[type="text"],input[type="email"],textarea,select {
    background-color: #202020;
    border: 2px solid #FF00FF;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 8px #00FFFF;
    width: 50%;
    /* max-width: 500px;  */
    display: block;
}

/* secciones */
section {
    border-radius: 20px;
    background-color: #000000;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0px 0px 20px #FF00FF;
    width: 80%;
}