*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url(.././img/background-futuro.jpg);
  background-size: cover;
  padding: 15px;
}

.flex-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  text-decoration: overline;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

form{
  
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #bfe2f2;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;

}

form fieldset{
  padding: 5px;
  border-color: #005a66;
  box-shadow: 0px 0px 20px #005a66;
}

form input{
  background-color: #dd414128;
}


form fieldset > p{
  display: flex;
  gap: 5px;
}

#actividades{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#actividades .contenedor{
  display: flex;
  gap: 10px;
}

legend{
  text-transform: uppercase;
  font-weight: 900;
}

.sede{
  font-style: italic;
  margin-bottom: 10px;
  text-decoration: underline;
}

#datos-personales{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3px;
}


#datos-personales input, textarea, select,
#contacto input{
  box-shadow: 0px 0px 20px #b9fcf6;
  color: #fbffff;
  padding: 1px;
}

#datos-personales select{
  color: #222727;

}

button{
  padding: 10px 20px;
  border-radius: 20px;
}

button[type='submit']{
  background-color: #2c2e30;
  color: #00c9b8;
  border-color: 3px solid #00f0c8;
}

button[type='reset']{
  background-color: #75b0b39a;
  color: #070722;
  border-color: 3px solid #00f0c8;
}